@use './partials/_common' as *;
@use './partials/header' as *;

.main_content {
    height: 100px;
    background-color: $secondary;
    color: $lighter;
}

.shop {
    background-color: $primary;
}

