$primary: #0282f9;
$secondary: #1c1c1c;
$dark: #303030;
$lighter: #fff;
$footer-list: #909090;

body {
    font-family: 'Roboto', sans-serif !important;
}

[class$='_container'] {
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
