$primary: #0282f9;
$secondary:#303030 ;
$dark: #1c1c1c;
$lighter: #fff;
$footer-list: #909090;

body {
    font-family: 'Roboto', sans-serif !important;
}

[class$='_container'] {
    width: 65%;
    height: 100%;
    margin: 0 auto;
}
