@use "./common" as *;

.main_comics {
  background-color: $dark;
  color: $lighter;
  padding-top: 2rem;
  .section_title {
    margin-top: -2.5rem;

    h3 {
      font-weight: 700;
      font-size: 1.2rem;
      font-family: "Roboto Condensed", sans-serif;
      padding: 0.5rem 0.9rem;
      background-color: $primary;
      max-width: fit-content;
    }
  }
  .row {
    padding: 1rem 0.5rem;
  }
  .my_card {
    margin-bottom: 2rem;
    .card_img {
      aspect-ratio: 1 / 1;
      width: 100%;
      img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: 100% 0;
      }
    }

    h5 {
      padding-top: 0.8rem;
      font-size: 0.6rem;
    }
  }
}
