@use "./common" as *;

.footer_top {
  background-image: url("/public/img/footer-bg.jpg");
  .top_container {
    justify-content: space-between;
    .footer_menu {
      padding: 1.3rem 0;
      display: flex;
      width: 40%;
      flex-wrap: wrap;
      .my_col {
        color: $lighter;
        width: calc(100% / 3);
        max-height: 100%;
        h5 {
          font-size: 0.85rem;
          font-family: "Roboto Condensed", sans-serif !important;
          font-weight: 700;
        }
        &:last-child {
          margin-top: -4rem;
        }
        ul {
          margin-bottom: 0;
          li {
            margin: -0.2rem 0;

            a {
              color: $footer-list;
              text-decoration: none;
              font-size: 0.6rem;
            }
          }
        }
      }
    }

    .footer_logo {
      margin-right: -1rem;
      width: 50%;
      max-height: 100%;
      background-image: url("/public/img/dc-logo-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.footer_bottom {
  background-color: $dark;
  padding: 1.5rem 0;
  .bottom_container {
    justify-content: space-between;
  }

  .bottom_left {
    .btn {
        color: $lighter;
        font-size: 0.9rem;
        font-weight: 700;
        border-radius: 0%;
    }
  }
  .bottom_right {
    width: calc(100% / 3);
    justify-content: space-between;
    align-items: center;
    span {
        color: $primary;
        font-weight: 700;
        font-family: 'Roboto Condensed', sans-serif;
    }
    ul {
        height: 100%;
        align-items: center;
        padding-bottom: 0.2rem;
        li {
            img {
            width: 60%;
        }
        }
        
    }
  }
}
