@use './common' as *;

.jumbotron {
    height: 320px;
    background-image: url('/img/jumbotron.jpg');
    background-size: cover;
}
.main_content {
    background-color: $secondary;
    color: $lighter;
}